[Unit]
Description=Fail-closed host egress policy for the VPN endpoint monitor
Before=docker.service
After=nftables.service
PartOf=nftables.service docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/sbin/nft add table inet vpn_endpoint_monitor
ExecStartPre=-/usr/sbin/nft add table bridge vpn_endpoint_monitor_l2
ExecStart=/usr/sbin/nft -f /etc/nftables.d/vpn-endpoint-monitor.nft
ExecReload=/usr/sbin/nft -f /etc/nftables.d/vpn-endpoint-monitor.nft

[Install]
RequiredBy=docker.service